@import "tailwindcss";

/* comon classes ----------------- */
.btn {
  background-image: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border-radius: 25px;
  font-size: 16px;
  color: #ffff;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}
.common-p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 35px;
  color: #ffffff;
  padding: 10px 8vw;
}
/* header section --------------------- */

.logo {
  max-width: 219px;
}

.banner {
  padding: 100px 0;
}
.hero-circle {
  position: relative;
  width: 18vw;
  height: 18vw;
  background-image: url("assets/hero-circle.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-circle > img {
  width: 7vw;
}
.base {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  background: #00ff88;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0.5vw 1vw;
  border-radius: 1.5vw;
}
.hero-btn {
  display: flex;
  justify-content: center;
  gap: 0.7vw;
}
.btn-subscribe {
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 25px;
}

/* about section --------------------- */
.about {
  background-color: #1a0b2e;
}
.about-title {
  font-size: 3vw;
}
.about-info {
  display: flex;
  justify-content: space-between;
}
.info-card > h1 {
  color: #00ff88;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
}
/* medium divices -------------------- */
@media screen and (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}

/* small devices ---------------------- */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
