@import "tailwindcss";

/* comon classes ----------------- */
.btn {
  background-image: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
  border-radius: 25px;
  font-size: 16px;
  color: #ffff;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}
.common-p {
  font-size: 16px;
  font-weight: normal;
  line-height: 35px;
  color: #ffffff;
}

/* text-center text-white font-bold text-[48px] */
.section-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3vw;
  margin-bottom: 40px;
}
/* header section --------------------- */

.logo {
  max-width: 219px;
}

.banner {
  padding: 100px 0;
}
.hero-circle {
  position: relative;
  width: 18vw;
  height: 18vw;
  background-image: url("assets/hero-circle.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-circle > img {
  width: 7vw;
}
.base {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  background: #00ff88;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0.5vw 1vw;
  border-radius: 1.5vw;
}
.hero-btn {
  display: flex;
  justify-content: center;
  gap: 0.7vw;
}
.btn-subscribe {
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 25px;
}

/* about section --------------------- */
.about {
  background-color: #1a0b2e;
}

.about-info {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 120px 0;
}
.info-card > h1 {
  color: #00ff88;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
}
.info-card > p {
  font-size: 1vw;
}

/* choose section --------------------- */
.choose {
  background-color: #230e3d;
  padding: 120px 0;
}

.choose-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}

#choose-card1 {
  grid-area: card1;
}
#choose-card2 {
  grid-area: card2;
}
#choose-card3 {
  grid-area: card3;
}
#choose-card4 {
  grid-area: card4;
}
#choose-card5 {
  grid-area: card5;
}
.choose-card {
  color: #ffff;
  background: #351165;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-card > img {
  width: 3.7vw;
  min-width: 50px;
}
.choose-card h3 {
  font-size: 1.5vw;
  font-weight: bold;
  padding: 16px 0;
}
.choose-card p {
  font-size: 16px;
  line-height: 24px;
}

/* feature section -------------------- */
.feature {
  background-color: #1a0b2e;
  padding: 120px 0;
  color: white;
}
.feature-contents {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.feature-card {
  border-radius: 40px;
}
.feature-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.feature-card h3 {
  font-size: 1.5vw;
  font-weight: bold;
  padding: 16px 0;
}
.feature-card p {
  font-size: 16px;
  line-height: 24px;
}
.feature-card .clock {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  padding-top: 15px;
  color: #00ff88;
  font-size: 1vw;
  font-weight: 600;
}
.feature-card .clock > img {
  height: 1.2vw;
}
/* host --------------------------------- */
.host {
  margin-top: 120px;
}
.host-card {
  background-color: #351165;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px;
  border-radius: 40px;
  gap: 25px;
}

.host-card > img {
  height: 12.5vw;
}
.host-card .content h1 {
  font-size: 2vw;
  font-weight: bold;
}
.host-card .content p {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin-top: 16px;
}
.host-imgs {
  display: flex;
  justify-content: start;
  gap: 0.5vw;
  margin-top: 16px;
}
.host-imgs div {
  height: 2.5vw;
  width: 2.5vw;
  border: 1px solid #fb09b4;
  border-radius: 50%;
  padding: 0.75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer ---------------------- */
footer {
  background-image: url("assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  text-align: center;
  color: white;
  font-size: 16px;
}
footer > .container > img {
  width: 25.6vw;
  margin: 0 auto;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-link {
  display: flex;
  gap: 8px;
  margin: 35px 0;
}
.social-link > img {
  width: 1.2vw;
  aspect-ratio: 1/1;
}
footer > p {
  font-size: 1vw;
  text-align: center;
}
/* medium divices -------------------- */
@media screen and (max-width: 992px) {
  .container {
    max-width: 95%;
  }
}

/* small devices ---------------------- */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
